a {
    color: #4b6584;
}

.container{
    padding: 5px;
}
.header-container{
    padding: 5px 21px;
}
.visited {
    background-color: rgba(206, 214, 224, 0.3);
}
.city-header {
    display: inline-block;
    padding-right: 10px;
}

.delete-btn{
    position: absolute;
    right: 15px;
}
.mat-card-content {
    margin-bottom: 10px;
}

::ng-deep .mat-card-header-text {
    margin: 0 !important;
}