.container{
    padding: 5px;
}
.header-container{
    padding: 5px 21px;
}
.visited {
    background-color: rgba(206, 214, 224, 0.5);
}
.city-header {
    display: inline-block;
    padding-right: 10px;
}
::ng-deep .mat-card-header-text {
    margin: 0 !important;
}