.container{
    padding: 5px;
}

.delete {
    bottom: 10px;
    position: absolute;
    right: 0;

}

.destination-container {
    padding: 5px 21px;
}

.destination-header {
    display: inline-block;
    padding-right: 10px;
}